<div id="<%= dom_id fire_department_membership %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= fire_department_membership.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fire department:</strong>
    <%= fire_department_membership.fire_department_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Member:</strong>
    <%= fire_department_membership.account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= fire_department_membership.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= fire_department_membership.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this fire department membership", fire_department_membership, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this fire department membership", edit_fire_department_membership_path(fire_department_membership), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
