<div id="<%= dom_id fire_department %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= fire_department.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= fire_department.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">District:</strong>
    <%= fire_department.district_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= fire_department.address %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this fire department", fire_department, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this fire department", edit_fire_department_path(fire_department), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
