<div id="<%= dom_id award %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= award.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Award kind:</strong>
    <%= award.award_kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dependent on award:</strong>
    <%= award.dependent_on_award.name if award.dependent_on_award_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Minimum service years:</strong>
    <%= award.minimum_service_years %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Minimum age for award:</strong>
    <%= award.minimum_age_for_award %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this award", award, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this award", edit_award_path(award), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
