<%= simple_form_for award, html: { class: "contents" } do |form| %>
  <% if award.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>
      <ul>
        <% award.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.input :name, required: true, label: "Name" %>
  </div>

  <div class="my-5">
    <%= form.input :award_kind, collection: Award.award_kinds.keys.map { |key| [key.humanize, key] }, prompt: 'Select Award Kind', label: "Award Kind" %>
  </div>

  <div class="my-5">
    <%= form.input :dependent_on_award_id, collection: Award.where.not(id: award.id), label_method: :name, value_method: :id, include_blank: 'None', label: "Dependent on Award" %>
  </div>

  <div class="my-5">
    <%= form.input :minimum_service_years, label: "Minimum Service Years" %>
  </div>

  <div class="my-5">
    <%= form.input :minimum_age_for_award, label: "Minimum Age for Award" %>
  </div>

  <div class="my-5">
    <%= form.input :image, as: :file, direct_upload: true, label: "Image" %>
  </div>

  <div class="inline">
    <%= form.button :submit, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
