<%= simple_form_for account_award, html: { class: "contents" } do |f| %>
  <% if account_award.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(account_award.errors.count, "error") %> prohibited this account_award from being saved:</h2>
      <ul>
        <% account_award.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.input :account_id, collection: accounts, label_method: :full_name, value_method: :id, include_blank: 'Select a Member', label: "Member" %>
  </div>

  <div class="my-5">
    <%= f.input :award_id, collection: awards, label_method: :name, value_method: :id, include_blank: 'Select an Award', label: "Award" %>
  </div>

  <div class="inline">
    <%= f.button :submit, "Add Award", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>