<div id="<%= dom_id region %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= region.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= region.code %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this region", region, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this region", edit_region_path(region), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
