<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "SDH ocenění" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if !Rails.env.test? -%>
      <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <% end -%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen">
    <header>
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex mb-20">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
