<div id="<%= dom_id(member) %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Jméno:</strong>
    <%= member.first_name %> <%= member.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Datum narození:</strong>
    <%= member.birthdate.strftime("%d.%m.%Y") if member.birthdate != nil %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefon:</strong>
    <%= member.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= mail_to member.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this member", member_path(member), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to "Edit this member", edit_account_path(member), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
